body {
    font-family: Impact, fantasy;
    background-image: linear-gradient(gold ,white ,royalblue);
}
p{
    font-size: 19px;
}
main{
    border: 11px double red;
}
a{
    box-shadow: 7px 7px 10px 0 floralwhite;
    text-align: center;
}
a:hover{
   box-shadow: 13px 13px 10px 0 firebrick; 
   font-size: 30px;
   transition: 5s linear;
   text-align: center;
}
